{% extends 'smm_admin/base.html' %}

{% load staticfiles %}

{% block title %}Account{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col m12 l8 offset-l2">
                <div class="card">
                    <div class="card-content">
                        <form action="{% url 'account_post' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col m12">
                                    <div class="input-field col m12">
                                        <input id="username"
                                               type="text"
                                               name="username"
                                               value="{{ user.username }}"
                                               {% if errors.email %}class="invalid"{% endif %}>
                                        <label for="first_name">Email</label>
                                        {% if errors.email %}
                                            <span class="helper-text" data-error="{{ errors.email }}"></span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m12">
                                    {% if user.account.logo %}
                                        <img src="{{ user.account.logo.url }}" alt="user logo" width="100px">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m12">
                                    <div class="file-field input-field">
                                        <div class="btn">
                                            {% if user.account.logo %}
                                                <span>Replace logo...</span>
                                            {% else %}
                                                <span>Add logo...</span>
                                            {% endif %}
                                            <input type="file" name="logo">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m12">
                                    <div class="input-field col m12">
                                        <input id="telegram_id"
                                               type="text"
                                               name="telegram_id"
                                               value="{{ user.account.telegram_id }}"
                                               {% if errors.telegram %}class="invalid"{% endif %}>
                                        <label for="telegram_id">Telegram ID</label>
                                        {% if errors.telegram %}
                                            <span class="helper-text" data-error="{{ errors.telegram }}"></span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m12">
                                    <button class="btn" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col m12 l8 offset-l2">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Social</span>
                        <a class='dropdown-trigger btn' href='#' data-target='serivice-add-dropdown'>
                            Add
                        </a>
                        <ul id='serivice-add-dropdown' class='dropdown-content'>
                            {% for service in services %}
                                <li>
                                    <a href="{{ service.login_url }}" target="_self">
                                        <img alt="{{ service.name }}" src="{{ service.logo_url }}" width="35">
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul class="collection">
                            {% for each in user.account.services.all %}
                                <li class="collection-item avatar">
                                    <img src="{{ each.service.logo_url }}" alt="vk" class="circle">
                                    <span class="title">{{ each.service }}</span>
                                    <p>
                                        <a href="{{ each.service.url }}"
                                           target="_blank">
                                            {{ each.service.url_title }}
                                        </a>
                                    </p>
                                    <form action="{% url 'delete_service' each.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit"
                                                style="border: none; background: transparent; cursor: pointer;"
                                           class="secondary-content">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block static %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'smm_admin/lib/material-icons.css' %}">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            M.Dropdown.init(document.querySelectorAll('.dropdown-trigger'), {});
        });
    </script>
{% endblock %}
