<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMM bicycle terms of service and confidential policy</title>
</head>
<body>
<div style="text-align: center; font-family: Roboto sans-serif; font-size: 25px;">
    <p>
        SMM bicycle app is for my personal use only.
    </p>
    <p>
        If you are not an admin of this app you will not (and won't be able to) use it.
    </p>
    <p>
        So no your personal information will be ever stored anywhere.
    </p>
    <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2F8MSBqoJchv6cE%2Fgiphy.gif&f=1"
         alt="rainbow">
</div>
</body>
</html>
