{% extends 'smm_admin/base.html' %}

{% block title %}Your Posts{% endblock %}

{% block static %}
    {{ block.super }}
    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'smm_admin/lib/material-icons.css' %}">
    <link rel="stylesheet" href="{% static 'smm_admin/css/common.css' %}">

    <script src="{% static 'smm_admin/lib/axios.min.js' %}"></script>
    <script src="{% static 'smm_admin/lib/vue.min.js' %}"></script>

    <script src="{% static 'smm_admin/js/list_posts.js' %}"></script>
{% endblock %}

{% block content %}
    {% verbatim %}
    <div class="container" id="app" style="margin-top: 50px;">
        <div class="row">
            <div class="col m12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col m12">
                                <h4>My posts</h4>
                            </div>
                        </div>
                        <div v-show="!wip">
                            <div class="row">
                                <div class="col m2">Info</div>
                                <div class="col m2 offset-m2">Post Date</div>
                                <div class="col m2">Post Time</div>
                                <div class="col m2">Is ready to post?</div>
                                <div class="col m2">Open</div>
                            </div>
                            <div class="row post-in-list" v-for="post in posts">
                                <div class="col m2">
                                    <img class="materialboxed" width="100px" alt="img"
                                         :src="post.rendered_image || post.new_work">
                                </div>
                                <div class="col m2">
                                    <div>
                                        {{ post.name }}
                                    </div>
                                    <div>
                                        <span :class="'status_' + post.status.toLowerCase().replace(' ', '_')">
                                            {{ post.status }}
                                        </span>
                                    </div>
                                </div>
                                <div class="col m2">
                                    <input :id="'date_' + post.id" type="text" class="datepicker">
                                </div>
                                <div class="col m2">
                                    <input :id="'time_' + post.id" type="text" class="timepicker" v-model="post.schedule">
                                </div>
                                <div class="col m2">
                                    <div class="switch">
                                        <label>
                                            <input type="checkbox">
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col m2">
                                    <a :href="'/p/' + post.id + '/'">
                                        <i class="material-icons">launch</i>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m1">
                                    <button class="btn btn" v-show="page > 1" @click="getPosts(page - 1)">
                                        <i class="material-icons">navigate_before</i>
                                    </button>
                                </div>

                                <div class="col m1" v-for="n in pagesCount()">
                                    <button v-if="pagesCount() > 1" class="btn" :class="{'btn-flat': n != page}"
                                            @click="getPosts(n)">
                                        {{ n }}
                                    </button>
                                </div>

                                <div class="col m1">
                                    <button class="btn" v-show="page < count / pageSize" @click="getPosts(page + 1)">
                                        <i class="material-icons">navigate_next</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m12">
                                <div class="progress" v-show="wip">
                                    <div class="indeterminate"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}
