{% extends 'smm_admin/base.html' %}

{% block title %}{{ post.name_en }}{% endblock %}

{% block content %}
    <div class="content">
        {% if by_token %}
            <div class="row">
                <div class="col s12 m8 offset-m2">
                    <div class="card">
                        <div class="card-content">
                            <h4>Thank you for your post</h4>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card">
                    {% if not by_token and post.rendered_image %}
                        <div class="card-image tooltipped" data-position="bottom" data-tooltip="Click to edit">
                            <a href="{% url 'edit_image' post.id %}">
                                <img id="rendered_image" src="{{ post.rendered_image.url }}">
                            </a>
                        </div>
                    {% endif %}
                    <div class="card-content">
                        {% if not by_token and not post.rendered_image %}
                            <div class="row">
                                <div class="col s12">
                                    <h4>No rendered image yet <a href="{% url 'edit_image' post.id %}">create</a></h4>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col s12">
                                <h4>{{ post.name_en }}</h4>
                                <h6>{{ post.name_ru }}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div>
                                    <a href="{{ post.artstation }}">{{ post.artstation }}</a>
                                </div>
                                <div>
                                    <a href="{{ post.instagram }}">{{ post.instagram }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <blockquote>
                                    {{ post.text_en }}
                                </blockquote>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <blockquote>
                                    {{ post.text_ru }}
                                </blockquote>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <h5>{{ post.old_work_year }}</h5>
                                {% if post.old_work %}
                                    <img src="{{ post.old_work.url }}" alt="Old Work" width="100%">
                                {% endif %}
                                {% if post.old_work_url %}
                                    <a href="{{ post.old_work_url }}" target="_blank">Old Work Url</a>
                                {% endif %}
                            </div>
                            <div class="col s6">
                                <h5>{{ post.new_work_year }}</h5>
                                {% if post.new_work %}
                                    <img src="{{ post.new_work.url }}" alt="New Work" width="100%">
                                {% endif %}
                                {% if post.new_work_url %}
                                    <a href="{{ post.new_work_url }}" target="_blank">New Work Url</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block static %}
    {% load static %}
    {{ block.super }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            M.Tooltip.init(document.querySelectorAll('.tooltipped'), {});
        });
    </script>
    <link rel="stylesheet" href="{% static 'smm_admin/css/common.css' %}">
{% endblock %}