[v-cloak] {
    display: none;
}

.slide-enter-active {
    transition: all .05s ease;
}

.slide-leave-active {
    transition: all .05s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-enter, .slide-leave-to {
    transform: translateY(-50px);
    opacity: 0;
}

div.drag {
    border: 2px dashed #ccc;
    border-radius: 10px;
}

div.canvas-size-control {
    margin: 0;
    padding: 0 10px;
    background-color: white;
    height: 40px;
}

div.canvas-size-control > div.card-content {
    padding: 5px 8px;
    height: 40px;
}

div.canvas-size-control > div {
    margin: 0;
    height: 40px;
}

div.canvas-size-control input,
div.canvas-size-control input:focus {
    border: none !important;
}

a.default-text {
    color: unset !important;
}

span.status_in_progress {
    color: #26a69a;
}

span.status_not_ready {
    color: #bdbdbd;
}

span.status_ready {
    color: #009688;
}

span.status_ok {
    color: #64ffda;
}

span.status_failed {
    color: #ec407a;
}

div.post-in-list {
    border: 1px solid #D5E5EC;
    border-radius: 2px;
    padding: 5px 0;
}

div.post-in-list:hover {
    background-color: #D5E5EC;
}
